<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>学生追加</title>
</head>
<body>
    <h1>学生追加</h1>

    <form method="post">
    <p>
        学籍番号：
        <input type="text" name="student_id" required>
    </p>

    <p>
        名前：
        <input type="text" name="name" required>
    </p>

    <p>
        学科：
        <input type="text" name="department" required>
    </p>

    <p>
        学年：
        <input type="number" name="grade" required>
    </p>

    <p>
        年度：
        <input type="number" name="year" required>
    </p>

    <button type="submit">追加</button>
</form>

    <p><a href="/students">← 学生一覧へ</a></p>
</body>
</html>
